camunda:
  bpm:
    metrics:
      enabled: false
    database:
      type: postgres
      table-prefix: camunda.
      schema-name: camunda
      schema-update: false
    admin-user:
      id: camunda
      password: camunda
    history-level: NONE
    generic-properties:
      properties:
        historyTimeToLive: P1D
    default-serialization-format: application/json
spring:
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      minimum-idle: 10
      maximum-pool-size: 5
      idle-timeout: 300000
      max-lifetime: 600000
server:
  port: 3000
resilience4j:
  ratelimiter:
    instances:
      rateLimiterBpmn:
        limit-for-period: 5
        limit-refresh-period: 60s
        timeout-duration: 0s