# Dependencies
/node_modules
*.lock

# Auto imports
auto-imports.d.ts
components.d.ts

# Build directory
/dist

# Cache directories
/.cache
/.output

# Env files (You might want to ignore only specific env files, depending on your needs)
/.env

# Logs
/*.log*